
#header {
    background-color: #888888;
    height:380px;
    margin:0px;
    padding:0px;

}

    #nav {
        height: 42px;
        background-color: #888888;
    
        ul {
            list-style-type: none;
            height: 40px;
            padding: 0px 10px;
            margin: 0px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
    
        li {
            margin-left: 10px;
            font-family:$fuente ;
            font-size: 23px;
        }
    
        a {
            color: #00004B;
            text-decoration: none;
        }
    
    
    }